* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
:root {
  --dark: #000;
  --light: #fff;
  --neon: rgb(0, 195, 255);
  --red: red;
  --yellow: yellow;
  --filter: none;
}

:root[theme="dark"] {
  --dark: #fff;
  --light: #000;
  --neon: rgb(0, 195, 255);
  --red: red;
  --yellow: yellow;
  --filter: invert();
}
body {
  background: var(--light);
  color: var(--light);
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.site {
  width: 100%;
  height: auto;
  position: relative;
  overflow-x: hidden;
}
header {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  box-shadow: 2px 2px 5px var(--dark);
  color: var(--dark);
  position: relative;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerNavLD {
  display: none;
}
/* Animated Nav bar */

.animated-nav {
  background: var(--light);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 50px;
  transition: all 0.7s linear;
}
.animated-nav.active {
  width: 300px;
  height: 50px;
}

.animated-nav ul {
  list-style-type: none;
  display: flex;
  width: 0px;
  transition: all 0.7s linear;
  padding: 0;
  margin: 0 5px 0 0;
}
.animated-nav.active ul {
  width: 300px;
  text-decoration: none;
}
.animated-nav ul li {
  padding: 0;
  opacity: 0;
  transition: all 0.7s linear;
}
.animated-nav.active ul li {
  margin: 0 20px;
  opacity: 1;
  transform: rotateY(360deg);
}
.animated-nav button {
  border: 0;
  border-radius: o;
  width: 30px;
  background: var(--light);
  height: 30px;
  position: relative;
  transition: all 0.7s linear;
}
.animated-nav.active button {
  width: 35px;
  height: 35px;
}
.animated-nav button:focus {
  outline: none;
}
.navList {
  margin-right: 20px;
}
.navList a {
  margin: 0 6px;
}
.ani-nav-line {
  width: 25px;
  transition: all 0.5s linear;
  background: blue;
  height: 5px;
}
.animated-nav.active .ani-nav-line-1 {
  position: absolute;
  transform: rotate(-490deg);
  top: 42%;
  left: 0;
}

.animated-nav.active .ani-nav-line-2 {
  position: absolute;
  bottom: 44%;
  transform: rotate(490deg);
  left: 0;
}
.ani-nav-line-1 {
  position: absolute;
  top: 10%;
  left: 0;
}

.ani-nav-line-2 {
  position: absolute;
  bottom: 10%;
  left: 0;
}

nav a {
  position: relative;
  color: var(--dark);
  text-decoration: none;
  padding: 5px 0;
  font-weight: bold;
  font-family: Josefin Sans;
}
.Nav-List a::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -2px;
  width: 0;
  left: 0;
  background: var(--dark);
  transition: all 0.35s linear;
}
.Nav-List a:hover:after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -2px;
  width: 100%;
  left: 0;
  background: var(--neon);
}

/* LoGO amd other .... */
#logo img {
  margin-left: 0px;
  height: 45px;
  color: var(--dark);
  text-decoration: none;
  overflow: hidden;
  filter: var(--filter);
  cursor: pointer;
}
.headerNavLD {
  width: 20%;
  margin-right: 3%;
}
.headerNav {
  width: 20%;
  margin-right: 3%;
}
.hamburgerMenu {
  display: block;
}
nav .navList {
  list-style-type: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
nav .navList a {
  text-decoration: none;
  color: var(--dark);
}

/* Body css now from here */
.musik {
  height: 30px;
  float: right;
  margin: 5px 8px;
  padding: 5px;
  border: 0.2px solid var(--neon);
  border-radius: 6px;
  border-collapse: collapse;
  color: var(--dark);
}

/* Theme Box */
.theme {
  background: var(--dark);
  cursor: pointer;
  transform: rotate(-90deg);
  width: 80px;
  height: 40px;
  position: absolute;
  right: -60px;
  top: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light);
}
.themeText {
  height: 100%;
  width: 100%;
}
.theme .fa-moon-o {
  font-weight: bold;
  color: var(--light);
  width: 100%;
  height: 100%;
}
.theme .fa-angle-down {
  height: 25px;
  background: rgb(4, 255, 201);
  width: 100%;
  position: relative;
  top: -20px;
  color: var(--dark);
}
.theme .fa-angle-up {
  height: 25px;
  background: rgb(4, 255, 201);
  width: 100%;
  position: relative;
  top: -20px;
  color: var(--dark);
}

/* Social Media Icons */
.socialMedia {
  position: absolute;
  left: 0;
  top: 50%;
  width: 45px;
  height: 60px;
  z-index: 9;
  transition: all 300ms linear;
}


.socialMedia ul{
  margin: 0;
  display: flex;
  flex-direction: column;
}
.socialMedia ul li{
  padding-left: 5px;
  transition: all 400ms linear;
  width: 45px;
  list-style-type: none;
}
.socialMedia ul li:hover{
  transition: all 400ms linear;
  width: 250px;
}
.socialMedia ul li:nth-child(odd){
  background: rgb(0 255 208);
}
.socialMedia ul li:nth-child(even){
  background: rgb(232, 248, 10);
}
.socialMedia ul li a{
  text-decoration: none;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socialMedia ul li a i{
  font-size: 40px;
}
.socialMedia ul li a span{
  font-size: 0px;
  color: black;
  font-weight: bold;
  padding-right: 5px;
  visibility: hidden;
}
.socialMedia ul li:hover a span{
  transition: all 400ms linear;
  font-size: 30px;
  visibility: visible;
    padding-left: 40px;
  }

.linesQuote {
  width: 90vw;
  min-height: 50vh;
  position: relative;
  margin-top: 10vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  background: var(--light);
  box-shadow: inset -2px 2px 4px var(--light), 1px 1px 4px var(--dark);
  color: var(--dark);
  margin-bottom: 1%;
}
.unUsed {
  width: 100%;
  height: 100%;
}
.linesQuote::before,
.linesQuote::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  transition: all 300ms linear;
  background: var(--dark);
  transition-delay: 0.2s;
}
.unUsed::before,
.unUsed::after {
  content: "";
  width: 3px;
  height: 0;
  position: absolute;
  transition: all 300ms linear;
  background: var(--dark);
  transition-delay: 0s;
}
.linesQuote:hover::before,
.linesQuote:hover::after {
  width: 100%;
}
.unUsed:hover::before,
.unUsed:hover::after {
  height: 100%;
}
.linesQuote::before {
  top: 0;
  left: 0;
}
.linesQuote::after {
  bottom: 0;
  right: 0;
}
.unUsed::before {
  top: 0;
  left: 0;
}
.unUsed::after {
  bottom: 0;
  right: 0;
}
.quote {
  width: 90%;
  height: 90%;
  font-size: 3em;
  line-height: 1.6;
  font-family: Berkshire Swash;
}
.angBracOpn {
  font-weight: bold;
  text-align: left;
  color: var(--red);
}
.angBracCls {
  text-align: right;
  color: var(--neon);
  font-weight: bold;
}
.quoteTeller {
  display: block;
  text-align: right;
  font-weight: bold;
  margin-top: 5px;
}

@media screen and (max-width: 800px) {
  .hamburgerMenu {
    display: block;
  }

  body {
    overflow-x: hidden;
  }

  .linesQuote {
    font-size: 0.4rem;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px -10px 0px 0;
  }
  .headerNav {
    display: none;
  }
  .headerNavLD {
    z-index: 22;
    display: block;
    margin: 0 -10% 0 0;
    padding: 0;
  }
  #logo img {
    height: 30px;
  }

  .theme {
    z-index: 1;
    width: 80px;
    height: 40px;
    right: -60px;
    top: 50%;
  }

  nav .navSlider {
    position: absolute;
  }
  nav .navList {
    top: 60px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    font-weight: bold;
    z-index: 999;
    font-size: 2rem;
    background: var(--light);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 400ms linear;
    align-items: center;
  }
  nav .showHideNavList {
    position: absolute;
    top: -60vh;
    left: 0;
    right: 0;
    width: 100%;
    font-weight: bold;
    z-index: 999;
    font-size: 2rem;
    background: var(--light);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 400ms linear;
    align-items: center;
  }
}
