/* Preloader */

.preloader {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  background: rgb(25, 32, 18);
  min-height: 100vh;
  animation: animatePreloader 10s linear infinite;
}

@keyframes animatePreloader {
  0% {
      filter: hue-rotate(0deg);
  }

  100% {
      filter: hue-rotate(360deg);
  }
}

.loader {
  position: relative;
  width: 120px;
  height: 120px;
}

.preloader .loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}

.preloader .loader span:before {
  content: "";
  position: absolute;
  background: rgb(35, 224, 11);
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  box-shadow: 0 0 10px rgb(35, 224, 11),
      0 0 20px rgb(35, 224, 11),
      0 0 30px rgb(35, 224, 11),
      0 0 40px rgb(35, 224, 11),
      0 0 55px rgb(35, 224, 11),
      0 0 70px rgb(35, 224, 11),
      0 0 100px rgb(35, 224, 11);
  animation: AnimateRound 2s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes AnimateRound {

  0% {
      transform: scale(1);
  }

  80%,
  100% {
      transform: scale(0);
  }

}








/* ------------Global css--------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --darkBg: #585555;
  --lightBg: #ffffff;
  --navBg: #4b4646;
}

body {
  display: flex;
  justify-content: space-between;
  background: var(--darkBg);
  color: var(--lightBg);
  overflow: hidden;
}

.icon-img {
  height: 40px;
  width: 40px;
  /* filter: invert(100%); */
}

h1 {
  font-size: 5rem;
}

li {
  list-style-type: none;
  padding: 1px;
}

/* --------------- Naigation Bar---------------- */
.navbar {
  width: 153px;
  height: 100vh;
  border-right: rgb(17, 199, 231) 2.5px solid;
  position: relative;
  background: var(--navBg);
  box-shadow: inset -1px 0 10px black;
  z-index: 10;
}

.navbar:hover {
  border-right: 3px rgb(17, 199, 231) solid;
}
.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#logo-box {
  width: 150px;
  height: 25vh;
  /* border: 1px solid red; */
  display: flex;
}
.logo {
  text-align: center;
  margin: auto;
}

@keyframes logoanimation {
  0% {
    background: linear-gradient(209deg, rgb(255, 95, 0), rgb(30, 38, 238));
  }
  25% {
    background: linear-gradient(209deg, rgb(255, 5, 190), rgb(16, 233, 68));
  }
  50% {
    background: linear-gradient(278deg, rgb(255, 5, 190), rgb(190, 190, 225));
  }
  75% {
    background: linear-gradient(278deg, rgb(1, 244, 0), rgb(12, 161, 255));
  }
  100% {
    background: linear-gradient(278deg, rgb(1, 244, 0), rgb(12, 161, 255));
  }
}

.logo span {
  font-size: 2rem;
  animation: logoanimation 2s infinite;
  font-weight: bold;
}

.nav-icons {
  display: flex;
  margin-top: 6vh;
  margin-bottom: 0px;
  height: 69vh;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* border: 2px solid white; */
}

.nav-icon-img {
  padding: 2px;
  border-radius: 50%;
  transition: all 0.25s linear;
  border: 2px solid #06e7f7;
  background: linear-gradient(209deg, rgb(20 84 226), rgb(255 2 2));
}
.nav-icons p {
  overflow: hidden;
  position: absolute;
  width: 100%;
  left: -50%;
  text-align: center;
  transform: translate(50%, -168%);
  transition: all 0.5s linear;
  opacity: 0;
  font-weight: bolder;
  font-family: cursive;
  color: blue;
  font-size: 16px;
}

.nav-icon-list:hover img {
  opacity: 0;
}
.nav-icon-list:hover p {
  opacity: 1;
}

/* Body */
.body {
  display: block;
  /* text-align: center; */
  width: 100%;
  height: 100vh;
}

.prog:nth-child(odd){
    background: gray;
}
.prog:nth-child(even){
    background: rgb(231, 214, 214);
}
.prog p{
    margin-top: 12%;
}
.grid-container{
    display: grid;
    margin-top: 5vh;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    text-align: center;
}

.prog-1{
    grid-row: 1/3;
}

.prog-4{
    align-self: center;
}

.prog-5{
    align-self: end;
    grid-row: 3;
    grid-column: 1/3;
}


#navToggle{
  display: none;
}


/* Responsive for Mobile Phones */

@media only screen and (max-width: 890px) {
  body {
    flex-direction: column;
    display: block;
  }

  .navbar {
    width: 100vw;
    height: 60px;
    position: static;
    z-index: 0;
    border-right: none;
    border-bottom: rgb(17, 199, 231) 2.5px solid;
  }
  .nav-items {
    flex-direction: row;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: space-between;
  }
  .nav-icons {
    position: absolute;
    display: none;
    top: 61px;
    z-index: 999;
    left: 0;
    width: 100%;
    background: #000;
    flex-direction: column;
    height: 100%;
    margin: 0;
  }

  #logo-box {
    display: block;
    width: 150px;
    height: 90%;
    display: flex;
  }

  #navToggle {
    display: block;
    margin-right: 2%;
  }
}


