body{
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    font-family: cursive;
    box-sizing: border-box;
    background-color: #fff;
}

h1{
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    line-height: .6em;
}

h2{
    font-weight: bold;
    text-align: center;
    font-size: 2.1em;
    line-height: .6em;
}

.global-container{
    /* border: 2px solid green; */
    width: 60%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

p{
    font-weight: bold;
    color: gray;
    text-align: center;
    font-size: 1.5em;
    line-height: .6em;
}

.btn{
    border: none;
    display: block;
    border-radius: 3px;
    height: 34px;
    border-color: rgba(160, 143, 143, .5);
    box-shadow: 0 0 0 5px rgba(160, 143, 143, .5);
    font-weight: bold;
    font-size: 1.4em;
}

.input{
    display: block;
    width: 27em;
    height: 3em;
    color: gray;
    border: none;
    background-color: rgba(43, 39, 39, .1);
    border-radius: 5px;
}
.logo{
    height: 60px;
    width: 60px;
    padding: 2px 2px 2px 12px;
}

a{
    color: black;
    text-decoration: none;
}


/* NAV BAR  */


nav{
    /* border: 2px solid red; */
    display: flex;
    position: sticky;
    background-color: #ffffff;
    top: 0;
    z-index: 1;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, .3);
}

 #logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 2px 2px 2px 12px;
}

#logo a{
    display: flex;
    font-size: 40px;
    position: absolute;
    text-decoration: none;
}
nav ul{
    display: flex;
    list-style-type: none;
    margin: 14px;
    position: absolute;
    right: 9%;

}

nav ul li a{
    text-decoration: none;
    cursor: pointer;
    display: block;
    color: grey;
    padding: 2px 12px;
}

nav .alt{
    position: absolute;
    right: 4%;
    top: 20%;
    height: 34px;
}



/* SECTION 1 */


.first-section{
    margin: 160px 0px 120px 0px;
    /* border: 2px solid blue; */
    min-height: 27vh;
    position: relative;
}

.search{
    display: flex;
    justify-content: center;
    position: relative;
    top: 18%;
}

.search .btn{
    margin: 6px 31px;
    width: 8em;
    background-color: rgb(97, 82, 153);
    box-shadow: 0 0 0 8px rgb(47, 23, 136, .5);
}
.container{
    margin-bottom: 20px;
}



/* SECTION-2 */


#second-section{
    position: relative;
    height: 100vh;
    margin-top: 100px;
}
#second-section p{
    line-height: 2px;
}
.container-box{
    /* border: 2px solid green; */
    width: 60%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 100vh;
    background-color: #fff;
    box-shadow:0px -10px 12px rgba(0, 0 ,0, .5);
}

/* BOX-SHADOW */
.container-box::before{
    content: '';
    position: absolute;
    right: 2px;
    left: -1.7%;
    width: 50px;
    height: 90%;
    background: rgba(0, 0 ,0, .5);
    transform-origin: top;
    transform: skewx(2.4deg);
    z-index: -1;
    filter: blur(12px);
}
.container-box::after{
    content: '';
    position: absolute;
    right: -1.7%;
    top: 0px;
    width: 50px;
    height: 77%;
    background: rgba(0, 0 ,0, .5);
    transform-origin: top;
    transform: skewx(-2.4deg);
    z-index: -2;
    filter: blur(12px);
}
#head-1{
    display: block;
    /* border: 2px solid gray; */
    height: 80px;
}
.box-1 .logo{
    float: left;
    padding: 1px;
    margin: 16px 5px;
}
#my-pic-logo{
    height: 60px;
    width: 60px;
    border: 5px gray solid;
    border-radius: 50%;
    padding: 1px;
    margin: 8px 5px;
    float: right;
}

#section2-topic h2{
    position: relative;
    left: -22%;
    line-height: 2.6em;
    margin: 6px 40px 3px 12px;
}
#section2-topic img {
    position: absolute;
    top: 9%;
    height: 50px;
    right: 29%;
    width: 50px;
}
.secondsec-container{
    position: relative;
    width: 70%;
    /* border: 2px solid black; */
    margin: 0 5px 0 70px;
    height:75%;
}
.secondsec-container p{
    position: relative;
    left: -20%;
}
.topic-items{
    /* border: 2px solid yellow; */
    width: 100%;
    margin: 6px 0px;
    height: 12%;
}
.topic-items img {
    position: relative;
    left: -40%;
    height: 30px;
    width: 30px;
}

.topic-items h2{
    position: relative;
    bottom: 53px;
    left: -22%;
    font-size: 1.2em;
}

.topic-items p{
    position: relative;
    bottom: 50px;
    left: -23%;
    font-size: 10px;
}


 /* SECTION-3 */

#section-3{
    margin: 181px 0px;
}
.owner{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.owner img{
    border: 5px solid rgb(83, 81, 81);
    border-radius: 50%;
}
.owner p a{
    color: rgb(24, 140, 194);
    text-decoration: none;
}



/* SECTION FOUR  */


#section-4{
    display: flex;
    height: 50vh;
    /* border: 2px solid pink; */
    background-color: rgba(219, 195, 195,0.4);
    position: relative;
    margin-bottom: 150px;
}
.grid{
    display: block;
    width: 40vw;
    background-color:rgba(255, 255, 255, 1);
    margin:20px 4%;
    border-radius: 20px;
}
.box-a{
    margin-left: 18%;
}
.box-a h2{
text-align: left;
}

.box-a p{
    text-align: left;
    line-height: 1.5em;
}

.designer-1{
    align-items: center;
    justify-content: center;
    display: flex;
}
.designer-1 img{
    width: 30px;
    height: 30px;
}
.box-b img{
    width: 73%;
    height: 98%;
    filter: blur(2px);
}
.box-b img:hover{
    filter: none;
}




/* section 5 */


.section-5{
    margin-top: 320px;  
    margin-bottom: 20px;
      background-color: rgba(219, 195, 195,0.4);
    
}
#sec-5div{
    margin-bottom: 80px;
    padding-top: 31px;

}
.section-5 .flex-1{
    display: flex;
    margin: 2% 5%;
    width: 90vw;
    height: 90vh;
}
.second-box-items{
    position: relative;
    margin: 13px 31px;
    height: 55px;
}
#first-box{
    width: 40vw;
    height: 80%;
    margin: 5px 10px;
}



#second-box{
    background-color: rgba(139, 137, 137, .4);
    height: 70vh;
    width: 30vw;
    margin: 5px 15px 0 180px;
}
.second-box-items img{
    height: 30px;
    padding: 13px 7px;
}
.second-box-items p{
    position: relative;
    bottom: 65px;
    right: 17px;
} 
.white{
    background-color: rgba(252, 252, 252, .5);
    border-radius: 10px;
    z-index: 1;
} 

#first-box h2,
#first-box p{
    font-size: 3rem;
    text-align: left;
    padding-left: 45px;
}

#first-box-sub-topic p{
    font-size: 2.3rem;
    color: black;
}

/* SECTION-6 */
.section-6{
    height: 110vh;
    background-color:rgba(83, 80, 80, 0.3);
}
#h2-sec6{
padding-top: 47px;
}
.sec6-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 12px;
}

.boxes-3{
    margin: 82px 23px;
    padding: 17px 12px;
    background-color: #ffffff;
    border-radius: 10px;
}
.boxes-3 img{
    width: 40px;
    height: 40px;
    margin-bottom: 110px;
}
.boxes-3 h2,
.boxes-3 p{
    margin-top: 12px;
}

.own-story{
    padding-top: 155px;
}



/* FOOTER  */
footer{
    margin-top: 40px;
    margin-bottom: 70px;
    justify-content: center;
}
footer img{
    display: block;
    margin: 2px auto;
    height: 50px;
    width: 50px;
}
.f1{
    display: flex;
    position: absolute;
    left: 40%;
    margin: 10px 12px;
}
.footer-a{
    margin: 2px;
    padding: 3px 2px;
}
.f2{
    margin-top: 35px;
    display: flex;
}
.f2 img{
    height: 50px;
    position: relative;
    left: 44%;
    width: 50px;
    margin: 24px 12px;
}

.f3{
    display: flex;
}
.f3 p{
    margin: 4px 12px;
    position: relative;
    left: 40%;
}