*{
    box-sizing: border-box;
}
body{
    background-color:rgba(216, 158, 120, 0.521);
}
.navbar{
    flex-direction: column;
    height: 400px;
}

.navbar ul{
    display: block;
    text-align: center;
 } 


 .logo{
    position: relative;
    left: 31%;
    height: 27px;
    font-size: 2.5rem;
}
.navbaritem a{
    display: block;
    margin: auto;
 }

 #search{
    right: 32%;
    display: block;
    position: absolute;
    bottom: 12px;
    margin: 2px 3px;
    padding: 18px 0px;;
 }

#bodypart{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container{
    display: block;
    width: 48%;
    align-items: center;
    justify-content: center;
}
.container .box{
    padding: 2px 3px;
    margin: 3px 4px;
    width: 100%;
}

#footer{
    margin-top: 20px;
}
.socmed img{
    height: 35px;
    padding: 2px;
    margin: 2px 15px;
}